.header {
    background-color: white;
}

.injury {
    height: 5em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.injury:hover {
    filter: drop-shadow(0 0 2em yellow);
}

@keyframes injury-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .injury {
        animation: injury-spin 5s infinite linear;
    }
}